* {
  margin: 0;
  padding: 0;
}

.logo {
  width: 12%;
}

.name {
  margin-top: 2%;
  width: 17%;
}

#logo_name {
  width: 40%;
  display: flex;
  align-items: center;
}
#logo_name img{
  
  margin-left: 10px;
}


#navbar {
  display: flex;
  width: 100%;
}

#navbar_list {
  list-style: none;
  display: flex;
  width: 40%;
  justify-content: space-around;
  align-items: center;
}

#navbar_list li {
  font-weight: bold;
}

#right_logo {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: end;
}

#right_logo img {
  margin: 0 15%;
}

#catch_phrase {
  width: 80%;
  display: flex;
}
#catch_text_button {
  flex-basis: 50%;
  min-width: 300px;
}
#catch_phrase h1 {
  margin-top: 15%;
}
#catch_phrase h4 {
  margin-top: 10%;
}
#catch_phrase button {
  display: inline-block;
  background: #F9C100;
  color: #ffff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}
#catch_phrase button:hover{
  background: brown;
}

#catch_image {
  flex-basis: 50%;
  min-width: 300px;
}
#catch_image img { 
  max-width: 80%;
  position: relative;
  right: -200px;
  background-size: 100%;
  
  margin: left 10px;

}

#services ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}
#services ul li{
    width:30%;
}

.menu{
    padding:10% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.menu_item{
  width:25%;
  height:300px;
  box-shadow: 0 0 20px 0;
  margin:1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:3% 10px;
  border-radius: 30px;
  border: #666;
}
.menu_item:hover{
  transform: translateY(-15px);
  transition: transfom.3s;
}

.menu_item img{
    width:45%;
}

#double_decker{
    display: flex;
    height:550px;
}

#double_decker div{
    flex: 1 1 0%;
}
#double_decker_images{
    position: relative;
}
#double_decker_images img{
    position: absolute;
    width:50%;
  }

#double_decker_icons{
    display: flex;
    height:100px;
    margin-top: 50px;
}

#img_1{
    top:10%; 
    right:25%;
    z-index:10;
    
}
#img_2{
    top:0; 
    right: 10%;
}

#double_decker_text_icons{
    margin: 13% 13% 0 13%;
}

#double_decker_text_icons h1{
    font-size: 70px;
}
#double_decker_text_icons h3{
    margin-top: 5%;
}

#play_store_advert{
    height:650px;
    display: flex;
    background-color: #F9C100;
}

#play_store_advert div{
    flex: 1 1 0%;

}
#subscribe{
    display: flex;
}
#subscribe div{
    flex: 1 1 0%;
    padding:10px 0;
}

#subscribe_nav ul{
 list-style: none;
 padding: 5px;
}
#subscribe_nav h3{
  padding: 5px;
}
#subscribe_nav ul li{
    margin:5px 0;
}
#subscribe_form{
    padding:300px 0; 
}
#subscribe_form h3{
  margin-left: 100px;
  padding: 18px;
}
  
#subscribe_form div {
    display: flex;
    margin-left: 100px;
}
#subscribe_form div input{
    height:40px;
    width:50%;
}
#subscribe_form div button{
    width:25%;
}

#footer{
    display: flex;
    align-items: center;
}
#footer div{
    flex: 1 1 0%;
    display: flex;
    justify-content: right;
    margin-right: 100px;

}
#footer_icons{
    height:50px;
}
#footer span{
  text-align: left;
  padding: 0 0 0.5px;
  margin: 18px;
}
.header1{

  background: linear-gradient(117deg,white 0% 50%,rgb(255, 174, 0) 50% 100%);
}
.back1{
  max-width: 100%;
  margin: auto;
  padding: 25px;
}
#catch_text_button h1{
  font-size: 50px;
  line-height: 60px;
}
.quality{
  border: 1px solid #666;
  border-radius: 30px;
  flex: 1;
  margin: 70px;
  padding: 60px;
  box-shadow: 0 0 20px 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.quality:hover{
  transform: translateY(-15px);
	 transition: transfom.3s;
}
.playstore_icons{
    padding: 80px 2px;
    position: relative;
    left: 50px;
}
.playstore_icons img{
  height: 80px;
  
}
#discover_text{
  /*text-align: left;*/
  padding: 30px 2px;
  position: relative;
  left: -70px;
  font-size: 30px;
  
}
.discover{
  background-size:90px 30px;
  width:400px;
  margin-left:1px;
  height:400px;
 
  justify-content: left;
  padding: 70px 0; 
}
#double_decker_text_icons span{
  color: #F9C100;
}
.app_image img{
  height: 500px;
  padding: 50px;
  position: relative;
  right:-200px;
  margin-top: 70px;
}
.our_menu span{
  color: #F9C100;
  text-decoration-line: underline;
}